<li>
	{{name}}

	{{#unless devoured}}
		<button id="devour"class="btn-md change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
			<span class="fas fa-teeth-open"></span>

			{{#unless devoured }}EAT ME!{{else}}{{/unless}}
		</button>

	{{/unless}}


	<button class="btn-md delete-burger" data-id="{{id}}">
		<span class="fas fa-backspace"></span>
		{{#unless devoured }}CANCEL ORDER {{else}}DELETE{{/unless}}
	</button>

</li>
